.main {
  width: 0;
  height: 800px;
  background-color: red;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
  @media print {
    display: flex;

    width: 1200px;
  }
  h1 {
    font-size: 30px;
    @media print {
      color: lightgreen;
    }
  }
}
