.main {
  padding: 20px 5px;
  background: rgba(255, 255, 255, 0.356);
  position: relative;
  height: 100%;
  backdrop-filter: blur(5px);
  transition: all 0.3s;
  box-shadow: 0px 4px 10px rgba(255, 0, 0, 0.165);
  .con {
    width: 100%;
    margin-top: 80px;

    .list {
      ol {
        list-style: none;

        li {
          width: 100%;
          position: relative;
          &:hover > .listof {
            background: rgba(255, 255, 255, 0);
          }
          .link {
            display: block;
            text-decoration: none;
            padding: 5px;
            margin: 5px;
            background: rgba(255, 0, 0, 0.568);
            border-radius: 10px;
            transition: all 0.3s;
            &:hover {
              background: rgb(255, 0, 0);
              transform: translate(-2px, -2px);
              box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.171);
            }
            span {
              font-size: 18px;
              display: flex;
              cursor: pointer;
              .icon {
                position: relative;
                top: 0px;
                padding: 5px;
                color: rgb(255, 0, 0);
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
              }
              p {
                display: none;
                padding: 0 5px;
                font-weight: 600;
                color: rgb(255, 255, 255);
                text-transform: capitalize;
                transition: all 0.3s linear;
                transition-delay: 1s;
                span {
                  padding: 0px 5px;
                }
              }
            }
          }
          .listof {
            position: relative;
            display: none;
            height: 0px;
            width: 0px;
            overflow: hidden;
            transition: all 0.4s linear;
            .childlist {
              width: 100%;
              position: relative;
              margin-left: 10px;
              li {
                margin: 5px;
                .linkc {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
  }
}

.childlist {
  width: 100%;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  li {
    width: 100%;
    position: relative;
    margin: 5px;
    .linkc {
      text-decoration: none;
      position: relative;
      width: 80%;
      cursor: pointer;
      background: rgba(255, 24, 24, 0.568);
      color: rgb(255, 255, 255);
      border-radius: 10px;
      &:hover {
        background: rgba(255, 24, 24, 0.976);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.385);
      }
      span {
        display: flex;
        flex-direction: row;
        padding: 3px 5px;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: capitalize;
      }
    }
  }
}

.main:hover {
  padding: 20px;

  .con {
    .list {
      ol {
        li {
          .listof {
            display: block;
            width: 100%;

            position: relative;
            transition: all 0.4s linear;
          }
          span {
            p {
              display: block;
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;
            }
          }
        }
      }
    }
  }
}
