.main {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.485);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  .border {
    width: 500px;
    // height: 400px;
    position: relative;
    background: linear-gradient(
      83.2deg,
      rgb(255, 0, 0) 10.8%,
      rgb(12, 0, 4) 94.3%
    );
    border-radius: 10px;
    padding: 2px;
    .con {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.937);
      border-radius: 10px;
      position: relative;
      .head {
        width: 100%;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid red;
        h1 {
          font-size: 18px;
        }
      }
      .form {
        width: 100%;
        position: relative;
        padding: 20px;
        .inputs {
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          span {
            font-size: 14px;
            padding: 10px 0 3px 0px;
          }
          input,
          textarea {
            padding: 5px 2px;
            outline: none;
          }
          .ifo {
            width: 100%;
            text-align: right;
            margin-top: 5px;
            font-size: 15px;
            span {
              margin: 0 5px;
              svg {
                position: relative;
                top: 2px;
                margin: 0 3px;
                color: red;
              }
            }
          }
          .note {
            font-size: 13px;
            font-style: italic;
            color: rgb(0, 80, 133);
            span {
              font-weight: 700;
              font-style: normal;
            }
          }
        }
        .btn {
          width: 100%;
          text-align: center;
          padding-top: 15px;
          button {
            border: none;
            background: linear-gradient(
              83.2deg,
              rgb(255, 0, 0) 10.8%,
              rgb(12, 0, 4) 94.3%
            );
            color: white;
            font-size: 13px;
            font-weight: 700;
            padding: 5px 20px;
            cursor: pointer;
            &:hover {
              background: linear-gradient(
                183.2deg,
                rgb(255, 0, 0) 10.8%,
                rgb(12, 0, 4) 94.3%
              );
            }
          }
        }
      }
      .cls {
        position: absolute;
        top: 10px;
        right: 10px;
        button {
          border: none;
          background: transparent;
          font-size: 18px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            color: red;
            text-shadow: 0 0 2px red;
          }
        }
      }
    }
  }
}
