.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  .con {
    width: 100%;
    position: relative;
    .nav {
      position: absolute;
      z-index: 10;
      height: 50px;
      width: 50px;
      background-color: red;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -10px;
      left: 10px;
      box-shadow: 0px 10px 10px -8px black;
      color: white;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        transform: translate(0, -5px);
        box-shadow: 0px 23px 15px -10px rgba(47, 0, 0, 0.344),
          2px 3px 2px rgb(184, 0, 0);
      }
      span {
        position: relative;
        font-size: 30px;
        top: 3.5px;
      }
    }
    .head {
      width: 100%;
      padding: 8px;
      text-align: center;
      backdrop-filter: blur(5px);
      box-shadow: 0px 15px 10px -12px #ff070779, 0px 15px 20px -15px #62000073;
      border-radius: 10px;
      border: 1px solid rgba(186, 186, 186, 0.352);
      h1 {
        font-size: 27px;
        color: red;
        span {
          position: relative;
          top: 5px;
          padding-right: 5px;
        }
      }
    }
    .des {
      width: 100%;
      position: relative;
      box-sizing: border-box;
      display: flex;
      padding: 0 10px;
      padding-top: 20px;
      justify-content: space-between;
      .box {
        flex: 1;
        position: relative;
        .name {
          width: 100%;
          position: relative;
          background-color: white;
          padding: 10px;
          height: 100%;
          border-radius: 10px 0px 0px 10px;
        }
        .balence {
          width: 100%;
          height: 100%;
          position: relative;
          background-color: white;
          padding: 10px;
          border-radius: 0px 10px 10px 0px;
          display: flex;
          flex-direction: row-reverse;
          overflow: hidden;
          box-shadow: 14px 0px 7px -7px rgba(230, 48, 48, 0.578),
            10px 0px 10px -11px rgb(71, 40, 40);
          .ico {
            top: -10px;
            position: absolute;
            height: 150%;
            width: 50px;
            right: -20px;
            background-color: red;
          }
          .text {
            position: relative;
            display: flex;
            flex-direction: column;
            padding-right: 24px;
            .ti {
              text-transform: capitalize;
              font-weight: bold;
            }
          }
        }
      }
    }
    .analysis {
      width: 100%;
      position: relative;
      box-sizing: border-box;
      display: flex;
      padding: 0 10px;
      padding-top: 20px;
      justify-content: space-between;
      .box {
        flex: 1;
        position: relative;
        .status {
          width: 300px;
          height: 60px;
          background-color: white;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          overflow: hidden;
          cursor: pointer;
          align-items: center;
          font-size: 25px;
          font-weight: bold;
          transition: all 0.3s;
          box-shadow: 10px 10px 20px -15px rgba(128, 0, 255, 0.544);
          &:hover {
            box-shadow: 0 10px 20px -15px rgb(101, 101, 101);
          }
          .icon {
            position: relative;
            top: 4px;
            padding-left: 4px;
          }
        }
        .ac {
          color: #00e600;
          &::after {
            content: "";
            position: absolute;
            height: 120%;
            width: 40px;
            background-color: #00e600;
            left: -1%;
            cursor: cell;
            border-radius: 10px;
            box-shadow: 13px 0px 10px -10px rgb(125, 209, 0),
              15px 0px 15px -10px rgb(47, 77, 2);
          }
        }
        .dc {
          color: #e60000;
          &::after {
            content: "";
            position: absolute;
            height: 120%;
            width: 40px;
            background-color: #e60000;
            left: -1%;
            cursor: cell;
            border-radius: 10px;
            box-shadow: 13px 0px 10px -10px rgb(209, 0, 0),
              15px 0px 15px -10px rgb(77, 2, 2);
          }
        }
        .aa {
          width: 100%;
          height: 100%;
          position: relative;
          display: flex;
          justify-content: right;
          align-items: center;
          flex-wrap: wrap;
          div {
            border: 1px solid gray;
            background-color: rgb(200, 200, 200);
            font-size: 16px;
            padding: 6px;
            box-shadow: 0px 20px 15px -10px #0000002e;
            @media (max-width: 835px) {
              font-size: 13px;
              margin-left: 10px;
              margin-bottom: 5px;
              padding: 2px;
            }
          }
        }
      }
    }
    .btngrop {
      width: 100%;
      position: relative;
      margin-top: 10px;
      background: #fff;
    }
  }
}
