.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  .con {
    width: 100%;
    position: relative;
    .totalm {
      width: 100%;
      background: white;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.263);
      .chart {
        width: 100%;
        position: relative;
      }
    }
  }
}
