.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  .con {
    width: 100%;
    position: relative;
    .row3 {
      width: 100%;
      position: relative;
      margin: 20px 0px;
      .con {
        width: 100%;
        padding: 20px;
        background: rgba(255, 255, 255, 0.26);
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        flex-wrap: wrap;
        .box {
          overflow: hidden;
          position: relative;
          flex: 1;
          width: 100%;
          min-width: 290px;
          height: 200px;
          margin: 10px;
          background: #ffffff;
          border-radius: 10px;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.379);
          .h {
            font-size: 12px;
            h1 {
              padding-bottom: 5px;
              border-bottom: 1px solid rgb(181, 64, 211);
              font-weight: 500;
              text-transform: capitalize;
              padding-left: 10px;
              span {
                font-size: 25px;
                position: relative;
                top: 5px;
                padding-right: 5px;
                color: rgb(180, 4, 196);
              }
            }
          }
          .ch {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .cpi {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              .ico {
                font-size: 100px;
                color: purple;
                position: relative;
                top: 5px;
              }
              .text {
                font-size: 40px;
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
    .selectm {
      width: 100%;
      padding: 20px;
      background: white;
      border-radius: 10px;
      select {
        padding: 5px 10px;
        border: 1px solid rgb(181, 64, 211);

        font-weight: 700;
      }
      span {
        padding-bottom: 5px;
        font-weight: 500;
        text-transform: capitalize;
        padding-left: 30px;
      }
    }
    .totalm {
      width: 100%;
      background: white;
      padding: 20px;
      margin-top: 20px;
      border-radius: 20px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.263);
      .h {
        font-size: 12px;
        h1 {
          padding-bottom: 5px;
          border-bottom: 1px solid rgb(181, 64, 211);
          font-weight: 500;
          text-transform: capitalize;
          span {
            font-size: 25px;
            position: relative;
            top: 5px;
            padding-right: 5px;
            color: rgb(180, 4, 196);
          }
        }
      }
      .chart {
        width: 100%;
        position: relative;
      }
    }
  }
}
