.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  .con {
    width: 100%;
    position: relative;
    .cpsection {
      position: relative;
      width: 90%;
      background: linear-gradient(
        83.2deg,
        rgb(255, 255, 255) 10.8%,
        rgb(244, 244, 244) 94.3%
      );
      margin: auto;
      padding: 20px;
      padding-top: 10px;
      border-radius: 20px;
      border: 2px solid rgb(255, 0, 0);
      .cpcom {
        width: 100%;
        height: 100%;
        position: relative;
        .head {
          font-size: 12px;
          h1 {
            padding-bottom: 5px;
            border-bottom: 1px solid rgb(255, 0, 0);
            font-weight: 500;
            text-transform: capitalize;
            span {
              font-size: 25px;
              position: relative;
              top: 5px;
              padding-right: 5px;
              color: rgb(255, 0, 0);
            }
          }
        }
        .inputs {
          width: 100%;
          position: relative;
          display: flex;
          margin-top: 10px;
          flex-wrap: wrap;
          input,
          button {
            flex: 1;
            margin: 10px 10px;
            outline: none;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 0, 0);
            padding: 5px;
            border-radius: 5px;
          }
        }
        .button {
          width: 100%;
          padding: 10px;
          position: relative;
          display: flex;
          margin-top: 10px;
          justify-content: right;
          button {
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 2px;
            padding: 5px 20px;
            background: transparent;
            border: 1px solid rgb(255, 0, 0);
            border-radius: 30px;
            cursor: pointer;
            text-transform: capitalize;
            transition: all 0.3s;
            &:hover {
              background-color: rgba(255, 255, 255, 0.702);
            }
          }
        }
      }
    }
    .coarseSection {
      position: relative;
      width: 90%;
      background: linear-gradient(
        145deg,
        rgba(255, 255, 255, 0.151),
        rgb(255, 255, 255)
      );
      margin: auto;
      margin-top: 20px;
      padding: 20px;
      padding-top: 10px;
      border-radius: 20px;
      border: 2px solid rgb(255, 0, 0);
    }
  }
}
