.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  color: rgb(0, 0, 0);
  .con {
    width: 100%;
    position: relative;
    background: linear-gradient(
      83.2deg,
      rgb(239, 239, 239) 10.8%,
      rgb(237, 237, 237) 94.3%
    );
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.257);
    border: 2px solid red;

    .head {
      font-size: 12px;
      h1 {
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(255, 0, 0);
        font-weight: 500;
        text-transform: capitalize;
        span {
          font-size: 25px;
          position: relative;
          top: 5px;
          padding-right: 5px;
          color: rgb(255, 0, 0);
        }
      }
    }
    .form {
      width: 100%;
      position: relative;
      .inpg1 {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .gap {
          flex: 1;
          position: relative;
          min-width: 300px;
          padding: 5px 10px;
          label {
            font-size: 13px;
            padding-bottom: 3px;
          }
          input {
            padding: 5px;
            font-size: 16px;
            width: 100%;
            outline: none;
            border: none;
            border: 1px solid red;
            background: rgba(255, 255, 255, 0.704);
            &:focus {
              background-color: #fff;
            }
          }
        }
      }
      .sub {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
        padding: 10px;
        input,
        .inpbtn {
          height: auto;
          position: relative;
          padding: 5px 20px;
          font-size: 16px;
          outline: none;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          font-weight: 600;
          text-transform: capitalize;
          background-color: #fff;
          border: 1px solid red;
          &:hover {
            transform: scale(103%);
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.209);
          }
        }
      }
    }
  }
}
