.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  .con {
    width: 100%;
    position: relative;
    background: linear-gradient(
      83.2deg,
      rgb(255, 255, 255) 10.8%,
      rgb(239, 239, 239) 94.3%
    );
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.257);

    white-space: nowrap;
    .head {
      font-size: 12px;
      border-bottom: 1px solid rgb(255, 4, 4);
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        padding-bottom: 5px;
        font-weight: 500;
        text-transform: capitalize;
        span {
          font-size: 25px;
          position: relative;
          top: 5px;
          padding-right: 5px;
          color: rgb(255, 0, 0);
        }
      }
      .btnmsg {
        position: relative;
        button {
          font-size: 15px;
          font-weight: 600;
          text-transform: capitalize;
          padding: 5px;
          margin: 5px;
          cursor: pointer;
          border: 1px solid red;
          transition: all 0.3s;
          &:hover {
            background-color: rgb(255, 245, 245);
          }
          span {
            position: relative;
            top: 3px;
            font-size: 18px;
            color: red;
            padding-right: 5px;
          }
        }
      }
    }
    .info {
      width: 100%;
      padding: 5px 20px;
      margin-top: 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .infoi {
        width: 100%;
        flex: 1;
        text-align: left;
        position: relative;
        padding: 5px;
        span {
          word-break: keep-all;
          white-space: nowrap;
          font-size: 15px;
        }
        .ico {
          font-weight: 700;
          text-transform: capitalize;
          font-size: 15px;
          svg {
            position: relative;
            top: 3px;
            color: red;
          }
        }
      }
    }
    .comment {
      width: 100%;
      padding: 5px 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .comentitem {
        width: 100%;
        flex: 1;
        padding: 5px;
        position: relative;
        .h {
          font-size: 15px;
          font-weight: 700;
          span {
            text-transform: capitalize;
            svg {
              position: relative;
              top: 3px;
              color: red;
            }
          }
        }
        .t {
          font-size: 15px;
          p {
            margin-left: 5px;
            padding-left: 5px;
            border-left: 1px dashed rgb(255, 0, 0);
          }
        }
      }
    }
    .course {
      width: 100%;
      position: relative;
      padding: 5px 20px;
      .h {
        font-size: 15px;
        font-weight: 700;
        padding: 5px;
        border-bottom: 1px solid rgb(255, 0, 0);
        span {
          text-transform: capitalize;
          svg {
            position: relative;
            top: 2px;
            color: red;
          }
        }
      }
      .cl {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        span {
          flex: 1;
          width: 100%;
          text-align: left;
          padding: 5px;
          color: rgb(0, 0, 0);
        }
      }
    }
    .date {
      width: 100%;
      position: relative;
      padding: 5px 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .di {
        width: 100%;
        flex: 1;
        padding: 5px;
        position: relative;
        .h {
          font-size: 15px;
          font-weight: 700;
          span {
            text-transform: capitalize;
            svg {
              position: relative;
              top: 2px;
              color: red;
            }
          }
        }
        .b {
          font-size: 15px;
          p {
            margin-left: 5px;
            padding-left: 5px;
            border-left: 1px dashed rgb(255, 0, 0);
          }
        }
      }
    }
    .admit {
      width: 100%;
      position: relative;
      padding: 5px 20px;
      .h {
        font-size: 15px;
        font-weight: 700;
        span {
          text-transform: capitalize;
          svg {
            position: relative;
            top: 2px;
            color: red;
          }
        }
      }
      .body {
        font-size: 15px;
        span {
          margin-left: 5px;
          padding-left: 5px;
          border-left: 1px dashed rgb(255, 0, 0);
          margin-right: 10px;
        }
        button {
          border: none;
          font-size: 11px;
          font-weight: 500;
          padding: 3px 5px;
          cursor: pointer;
          border: 1px solid black;
          border-radius: 3px;
          transition: all 0.3s;
          &:hover {
            background-color: #e0e0e0;
          }
          svg {
            position: relative;
            top: 2px;
            color: red;
          }
        }
      }
    }
    .comment2 {
      width: 100%;
      padding: 5px 20px;
      position: relative;
      .h {
        font-size: 15px;
        font-weight: 700;
        span {
          text-transform: capitalize;
          svg {
            position: relative;
            top: 2px;
            color: red;
          }
        }
      }
      .text {
        font-size: 15px;
        p {
          margin-left: 5px;
          padding-left: 5px;
          border-left: 1px dashed rgb(255, 0, 0);
        }
      }
    }
  }
}
