.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  .con {
    width: 100%;
    position: relative;
    .top {
      width: 100%;
      position: relative;
      height: 300px;
      background: linear-gradient(
        174.2deg,
        rgb(255, 255, 255) 7.1%,
        rgb(240, 240, 240) 67.4%
      );
      border: 1px solid rgba(255, 88, 88, 0.557);
      border-radius: 5px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 25px 20px -20px rgba(94, 0, 0, 0.605);
      //left sectionn start

      @media (max-width: 950px) {
        flex-direction: column;
        height: 700px;
      }
      .left {
        flex: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-right: 10px;
        position: relative;
        .bookHead {
          width: 100%;
          position: relative;
          display: flex;
          justify-content: space-between;
          padding: 5px 0;
          padding-right: 20px;
          border-bottom: 1px solid rgba(255, 88, 88, 0.557);
        }
        .listBook {
          height: 220px;
          overflow: scroll;
          @media (max-width: 950px) {
            height: 250px;
          }
          padding-right: 5px;
          &::-webkit-scrollbar {
            width: 5px;
            margin-left: 5px;
          }
          &::-webkit-scrollbar-thumb {
            background: gray;
            border-radius: 4px;
          }
        }
      }
      //   left section end
      // right section start
      .right {
        flex: 1;
        width: 100%;
        height: 100%;
        padding-left: 10px;
        border-left: 1px solid rgba(255, 88, 88, 0.557);
        @media (max-width: 950px) {
          border-top: 1px solid rgba(255, 88, 88, 0.557);
          border-left: 1px solid rgba(255, 88, 88, 0);
        }
      }
      .voiceHead {
        width: 100%;
        position: relative;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        padding-right: 20px;
        border-bottom: 1px solid rgba(255, 88, 88, 0.557);
        font-size: 20px;
        font-weight: 700;

        span {
          color: red;
          margin-right: 10px;
          font-size: 30px;
          position: relative;
          top: 3px;
        }
      }
      .li {
        width: 100%;
        height: 230px;
        @media (max-width: 950px) {
          height: 280px;
        }
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 5px;
          margin-left: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: gray;
          border-radius: 4px;
        }
      }
      //   right section end
    }
  }
}

// btn with icon
.cardwitnlogo {
  background-image: radial-gradient(
    circle farthest-corner at -4% -12.9%,
    rgba(74, 98, 110, 1) 0.3%,
    rgba(30, 33, 48, 1) 90.2%
  );
  width: 200px;
  display: flex;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background: radial-gradient(
      circle farthest-corner at -4% -12.9%,
      rgb(14, 80, 112) 0.3%,
      rgb(51, 52, 56) 90.2%
    );
  }
  &:hover > span {
    box-shadow: inset 3px 3px 4px #000000c9, inset -2px -2px 4px #00000042;
  }

  span {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 255);
    color: rgba(30, 33, 48, 1);
  }
  p {
    font-size: 15px;
    font-weight: 800;
    text-transform: capitalize;
    padding-left: 10px;
    position: relative;
    top: -1px;
    color: #fff;
  }
}

.gap {
  height: 35px;
}
