.main {
  width: 100%;
  position: relative;
  .top {
    position: fixed;
    z-index: 20;
    width: 100%;
  }
  .sidebar {
    position: absolute;
    height: 100vh;
    z-index: 19;
  }
  .con {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 60px;
    padding-left: 60px;
  }
}
