.main {
  width: 100%;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;

  table {
    position: relative;
    min-width: 100%;
    border-collapse: collapse;
    thead {
      width: 100%;
      position: relative;

      background: rgba(255, 103, 197, 0.372);
      tr {
        width: 100%;
        th {
          text-align: left;
          padding: 5px;
          font-size: 14px;
          word-wrap: none;
          white-space: nowrap;
          word-break: keep-all;
          .c {
            text-align: center;
          }
        }
      }
    }
    tbody {
      position: relative;
    }
  }
}
.c {
  text-align: center;
}
