.main {
  position: relative;
  width: 100%;
  backdrop-filter: blur(10px);
  .con {
    max-width: 1200px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .logo {
      width: 100px;
      img {
        width: 100px;
      }
    }
    .text {
      font-size: 16px;
      h1 {
        font-weight: 700;
        text-transform: capitalize;
        span {
          position: relative;
          font-size: 28px;
          top: 5px;
        }
      }
    }
    .log {
      button {
        border: none;
        padding: 5px 20px;
        background: linear-gradient(
          173.2deg,
          rgb(253, 117, 117) 10.8%,
          rgb(121, 112, 250) 94.3%
        );
        font-size: 15px;
        font-weight: 700;
        color: white;
        border-radius: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          transform: scale(105%);
        }
        span {
          position: relative;
          font-size: 17px;
          top: 3px;
        }
      }
    }
  }
}
