.main {
  position: relative;
  width: 100%;
  backdrop-filter: blur(5px);
  .con {
    max-width: 1200px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .logo {
      width: 100px;
      img {
        width: 100px;
      }
    }
    .text {
      font-size: 16px;
      h1 {
        font-weight: 700;
        text-transform: capitalize;
        span {
          position: relative;
          font-size: 28px;
          top: 5px;
        }
      }
    }
    .log {
      button {
        border: none;
        padding: 5px 20px;
        background: linear-gradient(
          173.2deg,
          rgb(255, 0, 0) 10.8%,
          rgb(1, 0, 9) 94.3%
        );
        font-size: 15px;
        font-weight: 700;
        color: white;
        border-radius: 20px;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          transform: scale(105%);
        }
        span {
          position: relative;
          font-size: 17px;
          top: 3px;
        }
      }
    }
    .profile {
      position: relative;
      .avatar {
        position: relative;
        height: 40px;
        img {
          height: 40px;
          width: 40px;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid red;
          transition: all 0.5s;
          &:hover {
            border: 1px solid cyan;
            transform: translate(25px, 25px) scale(250%);
            box-shadow: 5px 5px 13px -5px rgba(1, 133, 133, 0.783);
          }
        }
      }
    }
  }
}
