* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --red: #da0037;
  --white: #ededed;
  --dark: #171717;
  --gray: #444444;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    83.2deg,
    rgb(237, 0, 111) 10.8%,
    rgb(2, 0, 29) 94.3%
  );
}

$red: #da0037;
$gr: linear-gradient(
  83.2deg,
  rgb(255, 244, 244) 10.8%,
  rgb(231, 241, 255) 94.3%
);

body {
  min-width: 700px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  background: $gr;
  min-height: 100vh;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
