.main {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
  .con {
    width: 100%;
    position: relative;
    .head {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background: rgba(255, 197, 197, 0.611);
      border-radius: 10px;

      .text {
        font-size: 12px;
        flex: 1;
        h1 {
          padding-bottom: 5px;
          font-weight: 500;
          text-transform: capitalize;
          span {
            font-size: 25px;
            position: relative;
            top: 5px;
            padding-right: 5px;
            color: rgb(255, 0, 0);
          }
        }
      }
      .search {
        flex: 3;
        position: relative;
        min-width: 200px;
        h1 {
          font-size: 14px;
          font-weight: 500;
        }
        .inpg {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid rgb(255, 0, 0);
          background-color: rgba(255, 255, 255, 0.546);
          overflow: hidden;
          border-radius: 10px;
          input {
            width: 90%;
            outline: none;
            font-size: 15px;
            padding: 3px 5px;
            border-right: none;
            border: none;
            background-color: transparent;
          }
          button {
            width: 10%;
            padding: 4px;
            border: none;
            border: none;
            background-color: transparent;
            border-left: none;
            cursor: pointer;
            color: rgb(255, 0, 0);
            transition: all 0.4s;
            &:hover {
              background: rgba(255, 255, 255, 0.516);
            }
          }
        }
      }
      .act {
        flex: 1;
        text-align: right;
        button {
          font-size: 15px;
          padding: 5px 10px;
          border-radius: 10px;
          outline: none;
          border: none;
          font-weight: 700;
          cursor: pointer;
          color: #fff;
          background: linear-gradient(
            83.2deg,
            rgb(0, 0, 0) 10.8%,
            rgb(255, 0, 0) 94.3%
          );
          transition: all 0.3s;
          &:hover {
            background: linear-gradient(
              183.2deg,
              rgb(0, 0, 0) 10.8%,
              rgb(255, 0, 0) 94.3%
            );
          }
          span {
            position: relative;
            top: 3px;
          }
        }
      }
    }

    .qrsec {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background: rgb(255, 255, 255);
      border-radius: 10px;
      margin-top: 10px;
      position: relative;
      .form2,
      .form {
        width: 100%;
        position: relative;
        flex: 1;
        .r {
          width: 100%;
          display: flex;
          .inp,
          button {
            margin: 2px 10px;
            display: flex;
            flex-direction: column;
            span {
              color: red;
              font-size: 14px;
              font-weight: 500;
              padding-bottom: 2px;
              text-transform: capitalize;
            }
            select {
              width: 100px;
              border: 2px solid red;
              font-size: 14px;
              font-weight: 500;
              outline: none;
              padding: 3px 5px;
            }
          }
        }
        .r2 {
          width: 100%;
          display: flex;
          button {
            padding: 5px 20px;
            margin: 10px;
            border: 2px solid red;
            background-color: #fff;
            font-size: 15px;
            font-weight: 600;
            text-transform: capitalize;
            cursor: pointer;
            transition: all 0.3s linear;
            &:hover {
              box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.39);
            }
          }
          .inp {
            margin: 2px 10px;
            display: flex;
            flex-direction: column;

            span {
              color: red;
              font-size: 14px;
              font-weight: 500;
              padding-bottom: 2px;
              text-transform: capitalize;
            }
            select {
              width: 300px;
              border: 2px solid red;
              font-size: 14px;
              font-weight: 500;
              outline: none;
              padding: 3px 5px;
            }
          }
        }
      }
    }

    .table {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      background: rgb(255, 255, 255);
      border-radius: 10px;
      margin-top: 10px;
      position: relative;
    }
  }
}
