.con {
  width: 100%;
  position: relative;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 10px;
    height: 13px;
  }
  table {
    min-width: 100%;
    border-collapse: collapse;
    thead {
      background-color: white;
      box-shadow: 0 4px 6px -5px gray;
      position: relative;
      color: red;
      font-size: 20px;
      font-weight: 700;
      tr {
        td {
          padding: 5px;
          white-space: nowrap;
          word-wrap: Keep-all;
          min-width: auto;
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: rgb(206, 206, 206);
        }
        td {
          padding: 5px;
          white-space: nowrap;
          word-wrap: Keep-all;
          min-width: auto;
        }
      }
    }
  }
}
